body {
    background-color: antiquewhite;
    padding: auto;
    display: flex;
    justify-content: center;
}

#calc-case {
    padding: 15px 8px;
    background-color: #aaaaaa;
    border-radius: 6px;
    border: 3px #666666 solid;
    border-right: 5px #666666 solid;
    border-bottom: 5px #666666 solid;
    display: flex;
    flex-direction: column;
}

#display {
    height: 120px;
    width: auto;
    max-width: 450px;
    background-color: greenyellow;
    color: darkgreen;
    border: 2px rgb(117, 102, 102) solid;
    padding: 10px;
    margin-bottom: 3px;
    font-size: 50px;
}

#keyboard {
    background-color: silver;
    border: 1px darkslategray solid;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

button {
    width: 110px;
    height: auto;
    font-size: 80px;
    text-align: center;
    border: 1px #666666 solid;
    border-right: 2px #666666 solid;
    border-bottom: 2px #666666 solid;
    margin: 1px 3px;
}

#clear,
#delete {
    width: 166px;
    height: auto;
    background-color: limegreen;
    border: 1px #666666 solid;
    border-right: 2px #666666 solid;
    border-bottom: 2px #666666 solid;
    border-radius: 2px;
    font-size: 50px;
}

.operator,
.result {
    background-color: #ff4000;
    border: 1px #666666 solid;
    border-right: 2px #666666 solid;
    border-bottom: 2px #666666 solid;
    border-radius: 2px;
}

#row1,
#row2,
#row3,
#row4 {
    display: flex;
    margin-bottom: 1px;
}