body {
    background-color: antiquewhite;
    padding: auto;
    display: flex;
    justify-content: center;
}

#calc-case {
    padding: 15px;
    background-color: #aaaaaa;
    border-radius: 6px;
    border: 1px #666666 solid;
}

#display {
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    color: darkgreen;
    border: 1px rgb(117, 102, 102) solid;
    padding: 10px;
    margin-bottom: 3px;
}

#keyboard {
    border: 1px darkslategray solid;
    padding: 2px;
    display: flex;
    flex-direction: column;
}

button {
    width: 30px;
    height: 20px;
    text-align: center;
    margin-right: 4px;
}

#clear,
#delete {
    width: 60px;
    background-color: limegreen;
    border: 0.2px #666666 solid;
    border-radius: 2px;
    margin: 2px;
}

.operator,
#result {
    background-color: #ff4000;
    border: 0.2px #666666 solid;
    border-radius: 2px;
}

#row1,
#row2,
#row3,
#row4 {
    display: flex;
    margin-bottom: 1px;
}